:root {
  font-family:'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --PRIMARY_COLOR: #E5E5E5;
  --SECONDARY_COLOR: #FCA311;
  --BACKGROUND_COLOR: #14213D;
}

@media (prefers-color-scheme: light) {
  :root {
    --PRIMARY_COLOR: #0A0908;
    --SECONDARY_COLOR: #006666;
    --BACKGROUND_COLOR: #a0a0a0;
    
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--BACKGROUND_COLOR);
  color: var(--PRIMARY_COLOR);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--SECONDARY_COLOR);
  padding: 1rem;
  flex-wrap: wrap;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1000px) {
  header {
    justify-content: center;
  }
}

main {
  padding: 2rem;
}

a {
  color: var(--SECONDARY_COLOR);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  filter: brightness(110%);
}

.project {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid var(--SECONDARY_COLOR);
  min-height: 10rem;
}

.project:last-child {
  border-bottom: none;
}

.project a img {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  width: 10rem;
}

.resume section {
  margin-top: 2rem;
}

.resume section article {
  margin-bottom: 2rem;
}

.resume-header {
  margin-bottom: 0.5rem;
  text-align: center;
}

.resume-header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.about {
  margin-top: 2rem;
}

.about p {
  margin-bottom: 1rem;
  text-indent: 2rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.home img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.contacts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.contacts section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid var(--SECONDARY_COLOR);
  border-radius: 0.5rem;
  gap: 0.5rem;
}

.contacts section a svg {
  font-size: 3rem;
}

.collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}

.collection-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid var(--SECONDARY_COLOR);
  border-radius: 0.5rem;
  gap: 0.5rem;
  text-align: center;
}

.collection-box div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.collection-box img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 10rem;
  margin-bottom: 0.5rem;
  justify-self: flex-start;
}

.collection-box p {
  text-align: center;
  margin: 1rem 0;
  font-weight: 600;
}